@import "tailwindcss";

 /* @theme{
  --color-priamry: #000;
  --breakpoint-sm: 576;
  --breakpoint-md: 768;
  --breakpoint-lg: 1024;
  --breakpoint-xl: 1240;
  --breakpoint-2xl: 1440;
} */



:root {
  --section-gap-top: 2rem;   
  --section-gap-bottom: 2rem; 
}

/* Responsive adjustments */
@media (min-width: 640px) { 
  :root {
    --section-gap-top: 3rem;
    --section-gap-bottom: 3rem;
  }
}

@media (min-width: 1024px) { 
  :root {
    --section-gap-top: 4rem;
    --section-gap-bottom: 4rem;
  }
}

@media (min-width: 1280px) { 
  :root {
    --section-gap-top: 5rem;
    --section-gap-bottom: 5rem;
  }
}

section {
  padding-top: var(--section-gap-top) !important;
  padding-bottom: var(--section-gap-bottom) !important;
}















.custom-container{
  max-width: 1580px;
  width: 100%;
  margin: 0px auto;
  padding: 2rem;
} 

/* font style  */
.poppins {
  font-family: 'Poppins', sans-serif;
}

.vollkorn {
  font-family: 'Vollkorn', serif;
}





/* ant design style css  */
.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

/* Remove default border color  */
.ant-pagination * { border-color: transparent !important; }
